html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  min-width: 1000px;
  font-family: arial, sans-serif, AvenirNext-DemiBold, AvenirNext,
    "Helvetica Neue", Helvetica;
}
.wrap_box {
  margin: 0 auto;
  width: 90%;
  min-width: 980px;
  max-width: 1280px;
}
/* header */
header {
  width: 100%;
  height: 70px;
  position: relative;
  overflow: hidden;
  background: #0a497a;
  color: #fff;
}
header .wrap_box {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  height: 40px;
}
header h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
.h-left,
.h-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h-left .school,
.h-right .btn_box {
  margin-left: 10px;
  border-left: 2px solid #fff;
  padding-left: 15px;
}
.h-left .school {
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
}
.h-right .btn_box {
  padding-top: 13px;
  vertical-align: bottom;
  font-size: 14px;
}

/* footer */
footer {
  position: relative;
  text-align: left;
  background-color: #003055;
  color: #fff;
}
.f_top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 80px;
  border-bottom: solid 2px #fff;
}
.f_top a {
  text-decoration: none;
  border-bottom: solid 1px #fff;
}
.f_top img {
  width: 30px;
}

.f_bottom {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_b_left img {
  display: block;
}

.f_b_left img:last-child {
  margin-top: 20px;
}

.record_info {
  line-height: 26px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
}

.collaboration h3 {
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}
.collaboration a {
  display: block;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
}
.contact {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 30px;
}

.contact img {
  margin-right: 10px;
}

.contact .address_icon {
  margin-left: 2px;
}

#goTop {
  font-size: 40px;
  position: fixed;
  bottom: 15px;
  right: 5px;
  cursor: pointer;
}

/*menu*/
menu {
  position: relative;
  height: 282px;

  background: url("../img/nav_bg.png") no-repeat;
  background-size: contain;
  z-index: 9;
}
menu > ul {
    height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.menu li {
  font-family: inherit;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  flex: 1;
}
.menu .left {
    text-align: left;
  }
  .menu .right {
    text-align: right;
  }
.menu li a {
  color: #fff;
  display: block;
  transition: font-size 0.25s linear, width 0.25s linear;
  text-decoration: none;
}
.menu li img {
  margin-top: 20px;
}
.menu li.active a {
  color: #e58811;
  text-decoration: none;
}
.menu li a:hover {
  color: #e58811;
  font-size: 18px;
  text-decoration: none;
}

.banner {
  height: 360px;
  transform: translate(0, -215px);
  position: relative;
}
.banner img {
  width: 100%;
  position: absolute;
  top: 0;
}
.banner .pointer {
  z-index: 2;
}
