html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  min-width: 1000px;
  font-family: arial, sans-serif, AvenirNext-DemiBold, AvenirNext,
    "Helvetica Neue", Helvetica;
}
.wrap_box {
  margin: 0 auto;
  width: 90%;
  min-width: 980px;
  max-width: 1280px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
ul,
li {
  list-style: none;
}
.pd90 {
  padding: 90px 0;
}
.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: justify;
  color: #0a498f;
}
/* 面包屑样式 researchDetail newsDetail */
.breadcrumb {
  font-family: Alibaba PuHuiTi;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: justify;
  margin-top: 30px;
}
.breadcrumb span:first-child {
  opacity: 0.65;
}
.breadcrumb img {
  width: 4.5px;
  padding: 0 5px;
}
.breadcrumb span:last-child {
  color: #f18b1c;
}
/* header */
header {
  width: 100%;
  height: 70px;
  position: relative;
  overflow: hidden;
  background: #0a497a;
  color: #fff;
}
header .wrap_box {
  height: 70px;
}
header .logo {
  height: 40px;
}
header h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
.h-left .school,
.h-right .btn_box {
  margin-left: 10px;
  border-left: 2px solid #fff;
  padding-left: 15px;
}
.h-left .school {
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
}
.h-right .btn_box {
  padding-top: 13px;
  vertical-align: bottom;
  font-size: 14px;
}
header a {
  color: #fff;
}

/* footer */
footer {
  position: relative;
  bottom: -242px;
  text-align: left;
  background-color: #003055;
  color: #fff;
}
.f_top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 80px;
  border-bottom: solid 2px #fff;
}
.f_top a {
  text-decoration: none;
  border-bottom: solid 1px #fff;
  color: #fff;
}
.f_top img {
  width: 30px;
}

.f_bottom {
  padding: 50px 0;
}
.f_b_left img {
  display: block;
}

.f_b_left img:last-child {
  margin-top: 20px;
}

.record_info {
  line-height: 26px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
}

.collaboration h3 {
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}
.collaboration a {
  display: block;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
}
.contact {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 30px;
}

.contact img {
  margin-right: 10px;
}

.contact .address_icon {
  margin-left: 2px;
}

#goTop {
  font-size: 40px;
  position: fixed;
  bottom: 15px;
  right: 5px;
  cursor: pointer;
}

/*menu*/
menu {
  position: relative;
  height: 60px;
  background: #003055;
  background-size: contain;
  z-index: 9;
}
menu > ul {
  height: 60px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu li {
  font-family: inherit;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  flex: 1;
}
.menu .left {
  text-align: left;
}
.menu .right {
  text-align: right;
}
.menu li a {
  color: #fff;
  display: block;
  transition: font-size 0.25s linear, width 0.25s linear;
  text-decoration: none;
}
.menu li img {
  margin-top: 20px;
}
.menu li.active a {
  color: #e58811;
  text-decoration: none;
}
.menu li a:hover {
  color: #e58811;
  font-size: 18px;
  text-decoration: none;
}

.banner {
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  height: 195px;
  min-width: 1000px;
}
.banner img {
  width: 100%;
  position: absolute;
  top: 0;
}
.banner img:first-child {
  z-index: 2;
}
/* 以上均是公共样式 */

/* home */
.main {
  position: relative;
  top: 242px;
}
.welcome {
  background-color: #f6f8fa;
  overflow: hidden;
}
.welcome .content_box {
  margin-top: 40px;
}
.welcome .content_l {
  width: 70%;
}
.welcome .content_r {
  flex: 1;
  padding-left: 10px;
}
.welcome .cont {
  margin-top: 20px;
}
.welcome .line {
  width: 300px;
  height: 3px;
  margin: 10px 0 10px 0;
}
.welcome .cont h6 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #000000;
}
.welcome .cont p {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: justified;
  color: rgba(0, 0, 0, 0.65);
}
.welcome .content_r p {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: justified;
  color: rgba(0, 0, 0, 0.65);
}
.welcome .quotation_mark_r,
.welcome .quotation_mark_l {
  width: 70px;
  height: 58px;
}
.welcome .quotation_mark_r {
  float: right;
  margin-top: -20px;
  margin-bottom: 20px;
}
.research {
  background: url("../img/research.png") no-repeat;
  background-size: cover;
}
.research .wrap_box {
  display: flex;
  justify-content: space-between;
}
.research .research_l {
  width: 30%;
  margin-right: 80px;
  box-sizing: border-box;
}
.research .research_r {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 13px 25px 0px #001e3c26;
}
.research .research_l p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #00498f;
  margin: 15px 0;
  opacity: 0.6;
}
.research .research_l a {
  display: inline-block;
  color: #00498f;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #00498f;
}
.research .research_r img {
  width: 100%;
  height: 300px;
}
.research .research_r p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  background: #00498f;
  padding-left: 20px;
  position: relative;
}
.research .research_r p::before {
  display: inline-block;
  content: "";
  height: 24px;
  width: 5px;
  background: #f18d00;
  position: absolute;
  top: 0;
  left: 0;
}
.contact_us {
  background: url("../img/contact.png") no-repeat;
  background-size: cover;
  color: #fff;
}
.contact_us .title {
  color: #fff;
}
.contact_us p {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: justified;
  opacity: 0.85;
}
.contact_us .modal {
  width: 80%;
  border-radius: 10px;
  height: 134px;
  margin: 30px auto 0 auto;
  background: url("../img/contact_modal.png") no-repeat;
  background-size: cover;
  color: #000000;
  text-align: center;
  box-shadow: 0px 30px 70px 0px #001d3a33;
}
.contact_us .modal p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}
.contact_us .modal a {
  font-family: PingFang SC;
  font-size: 21px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  border: 2px solid #00498f;
  padding: 5px 30px;
  color: #00498f;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
}
.contact_us .modal a:hover {
  background: #00498f;
  color: #fff;
}
/* news */
.newsList .instr {
  margin: 30px 0;
}
.newsList .instr p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: justify;
  color: #00498f;
  opacity: 60%;
}
.newsList .instr a {
  margin-left: 140px;
  width: 141px;
  height: 45px;
  line-height: 45px;
  background-color: #00498f;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
.newsList ul {
  margin-bottom: 1px;
}
.newsList ul li {
  padding: 30px 15px;
  border-bottom: 1px solid #eeeeee;
}
.newsList ul li:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
}
.newsList .cont {
  padding: 0 15px;
  flex: 1;
}
.newsList .cont h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0px;
  color: #00498f;
}
.newsList .cont p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: justified;
  color: #666666;
}
.newsList .date {
  width: 108px;
  height: 147px;
  background: linear-gradient(0deg, #eeeeee, #eeeeee);
  border: 1px solid #eeeeee;
  border-radius: 5px;
  text-align: center;
  color: #aaaaaa;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newsList .date span:first-child {
  font-size: 40px;
  line-height: 45px;
}
.newsList .date span:last-child {
  font-size: 16px;
  line-height: 18px;
}

/* publications */
.publications {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.publications_nav {
  margin-left: 5px;
  float: left;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 100px;
  width: 100px;
}
.publications_nav li {
  padding: 5px;
  padding-left: 20px;
  border-left: 2px solid transparent;
}
.publications_nav li:hover {
  border-left: 2px solid #00498f;
}
.publications_nav li:hover a {
  color: #00498f;
  font-size: 22px;
  line-height: 30px;
}
.publications_nav a {
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}
.publications .content_list {
  width: 83%;
  float: right;
}
.publications dl {
  margin-top: 30px;
}
.publications dl:first-child {
  margin-top: 0;
}
.publications dt {
  background: #f6f8fa;
  width: 200px;
  height: 55px;
  border-radius: 5px;
  color: #5b5657;
  line-height: 55px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
}
.publications dd {
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px;
  color: #5b5657;
}
.publications dd a {
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px;
  color: #5b5657;
}
/* researchList */
.researchList .title_box {
  font-family: PingFang SC;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #999999;
}
.researchList .title::after {
  content: "";
  display: block;
  height: 3px;
  width: 72px;
  background-color: #00498f;
  margin: 5px 0;
}
.researchList ul {
  margin-top: 20px;
}
.researchList li {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 20px 0;
}
.researchList .item_l {
  width: 382px;
  height: 232px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}
.researchList .item_r {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.researchList .item_r p {
  font-family: PingFang SC;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.85;
}
.researchList .item_r a {
  display: block;
  width: 135px;
  height: 32px;
  font-family: PingFang SC;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  background: #00498f;
  color: #fff;
  text-decoration: none;
}

/* researchDetail */
.research_detail {
  padding-bottom: 90px;
}
.research_detail .title_box {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.research_detail .author_date {
  font-family: PingFang SC;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #999999;
  margin-top: 15px;
}
.research_detail dt {
  padding: 30px 0 20px 0;
}
.research_detail dd {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 0 20px 0;
  line-height: 28px;
}
.research_detail h6 {
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
}
.research_detail p {
  position: relative;
  font-family: PingFang SC;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.85);
  padding-bottom: 10px;
}
.research_detail .list p {
  padding-left: 10px;
}
.research_detail .list p::before {
  content: "";
  background-color: #000000;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 0;
}
.research_detail dd img {
  display: block;
  margin: 10px auto;
}
/* newsDetail */
.news_detail {
  padding-bottom: 90px;
}
.news_detail .title_box {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.news_detail .date {
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #999999;
  margin-top: 15px;
}
.news_detail p {
  position: relative;
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #333;
  line-height: 28px;
}
.news_detail .content_box {
  margin-top: 20px;
}
.news_detail .content_box img {
  display: block;
  margin: 15px auto;
}
/* people */
.people .personal_info {
  background-color: #f9f9f9;
}
.people .wrap_box {
  position: relative;
}
.people .personal_info img {
  box-sizing: border-box;
  position: absolute;
  top: 90px;
  right: 0;
  width: 220px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 8.5px 25.5px 0px rgba(0, 0, 0, 0.07);
}
.personal_info .name {
  font-family: Alibaba PuHuiTi;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  opacity: 85%;
}
.personal_info p {
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.85);
}
.personal_info .school {
  color: #00498f;
  padding: 20px 0;
}
.personal_info .contact {
  border-left: 8px solid #00498f;
  padding-left: 10px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0;
}
.people .email {
  font-weight: 400;
  color: #00498f;
  opacity: 85%;
}
.personal_info .resonance {
  font-family: Avenir Next;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 85%;
}
.personal_info .biography,
.personal_info .hobbies {
  margin-top: 30px;
  opacity: 85%;
  color: #000000;
}
.personal_info .biography h6,
.personal_info .hobbies h6 {
  font-family: Avenir Next;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  opacity: 85%;
  text-align: left;
}
.personal_info .biography p,
.personal_info .hobbies p {
  font-family: Avenir Next;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: justified;
  opacity: 65%;
}
.current_member .title {
  padding-bottom: 20px;
  border-bottom: 1px solid #0a498f;
}
.current_member .item {
  margin-top: 30px;
  background: #f9f9f9;
  border-radius: 5px;
  padding: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.current_member .item:hover {
  background: #ffffff;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.07);
}
.current_member .item_l {
  margin-right: 30px;
}
.current_member .item_r {
  flex: 1;
}
.current_member .item img {
  width: 120px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 8.5px 25.5px 0px rgba(0, 0, 0, 0.07);
}
.current_member .item .name {
  font-family: Douyin Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  opacity: 85%;
  color: #000000;
}
.current_member .item .position {
  font-family: PingFang SC;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.8);
  padding: 15px 0 10px 0;
}
.current_member .personal_info {
  width: 40%;
}
.current_member .resumeList {
  flex: 1;
}
.current_member .resumeList li {
  position: relative;
  padding: 8px 10px;
  margin-bottom: 10px;
}
.current_member .resumeList li:last-child {
  margin-bottom: 0px;
}
.current_member .resumeList span {
  border: 1px dashed #729ac1;
  border-radius: 6px;
  padding: 8px 10px;
  color: #729ac1;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}
.current_member .resumeList li::before {
  content: "";
  background: url("../images/people/li2.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 14px;
  left: -20px;
  width: 10px;
  height: 36px;
}
.current_member .resumeList li:last-child::before {
  background: url("../images/people/li.png") no-repeat;
  height: 10px;
  width: 10px;
}
.current_member .item_r .flex {
  align-items: flex-start;
  margin-bottom: 30px;
}
.current_member .item_r > div:last-child {
  font-family: PingFang SC;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  opacity: 65%;
  color: #000000;
  padding-top: 30px;
  border-top: 1px dashed rgba(0, 0, 0, 0.25);
}

/* opentings */
.opentings {
}
.openings .join_us {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 90px 0;
}
.join_us_l {
  margin-right: 90px;
}
.join_us_l p {
  font-family: PingFang SC;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.85;
  color: #000000;
  padding-top: 20px;
}
.openings .contact_box {
  padding-left: 10px;
  border-left: 5px solid #0a498f;
}
.openings .contact_box h6 {
  font-family: Avenir Next;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #000000;
}
.openings .contact_box .email {
  font-weight: 400;
  color: #00498f;
  opacity: 85%;
  font-size: 18px;
  line-height: 25px;
  padding-top: 10px;
}
.openings .fellow,
.openings .assistant {
  margin-top: 45px;
  border: 1px solid #d9d9d9;
}
.openings .top {
  background: #f7f8fa;
  height: 54px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}
.openings .top h6 {
  color: #ff6a29;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.openings .top img {
  padding: 0 10px;
}
.openings dl {
  padding: 10px;
}
.openings dl dt {
  font-family: PingFang SC;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  padding: 5px 0;
}
.openings dl dd {
  font-family: PingFang SC;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  padding: 5px 0;
}
.openings dl a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  position: relative;
}
.openings dd:hover a {
  color: #00498f;
  text-decoration: underline;
}
.openings dl a::after {
  content: '';
  background: url('../images/openings/jiantou.png') no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 5px;
  right: -25px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.openings dd:hover a::after {
  background: url("../images/openings/jiantou_hover.png") no-repeat;
}

/* tearching */
.tearching {
}
/* energyConverter */
.energy_converter .title_box {
  margin-bottom: 20px;
}
.energy_converter .title_box p {
  font-family: PingFang SC;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #999;
}
.energy_converter .title::after {
  content: "";
  display: block;
  height: 3px;
  width: 72px;
  background-color: #00498f;
  margin: 5px 0;
}
.energy_converter .content_box {
  width: 100%;
  border: 1px solid #b3b3b3;
}
.energy_converter .content_top {
  border-bottom: 1px solid #b3b3b3;
}
.energy_converter .content_box > div {
  padding: 20px;
}
.energy_converter label {
  font-family: PingFang SC;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.85;
}
.energy_converter input {
  width: 200px;
  height: 46px;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15) inset;
  color: rgba(0, 0, 0, 0.45);
  font-size: 19px;
  line-height: 26px;
}
.energy_converter input[disabled] {
  background-color: rgba(0, 0, 0, 0.05);
}
.energy_converter .content_top div,
.energy_converter .content_bottom div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.raman {
  margin-top: 90px;
}
